# Real Estate Stock Price Prediction - Data cleaning and preparation steps

In [189]:
# Import all necessary libraries for the project

import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine, inspect
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [190]:
# db connection
db_file = os.path.abspath('florida_data.db')
engine = create_engine(f'sqlite:///{db_file}')

# Print the absolute path to verify
print(f"Absolute path to database: {db_file}")

Absolute path to database: C:\Users\ipsit\Downloads\florida_data.db

In [191]:
# Establishing the connection with sqlite
query = '''SELECT * FROM florida_data_cleaned'''
re_df1 = pd.read_sql(query, engine)

In [192]:
# Display the first few records
re_df1.head()

       price   bed  bath          city zip_code    state house_size
0  1500000.0  None  None       Malabar  32950.0  Florida       None
1   436000.0  None  None          None  99999.0  Florida       None
2   349000.0  None  None      Palm Bay  32905.0  Florida       None
3   100000.0  None  None  Out of State     None  Florida       None
4    52000.0  None  None  Out of State     None  Florida       None

In [193]:
# Display number of rows and columns
re_df1.shape

(249432, 7)

In [194]:
# Drop columns that are not needed for data analysis
re_df2 = re_df1.drop(['brokered_by','status','street','state','prev_sold_date','acre_lot'], axis='columns')

KeyError: "['brokered_by', 'status', 'street', 'prev_sold_date', 'acre_lot'] not found in axis"

In [ ]:
# Display first few records of updated dataframe
re_df2.head()

# Data cleaning steps

In [ ]:
# Find count of rows with null values for each of the category
re_df2.isnull().sum()

In [ ]:
# Remove all rows with null values
re_df_clean = re_df2.dropna()

In [ ]:
# Check if any rows have null values now
re_df_clean.isnull().sum()

In [ ]:
# Display few of the rows of the updated dataframe
re_df_clean.head()

In [ ]:
# Check the number of rows and cloumns of the updated dataframe
re_df_clean.shape

In [ ]:
re_df_clean.info()

In [ ]:
re_df_clean['bed'] = re_df_clean['bed'].astype(int)
re_df_clean['bath'] = re_df_clean['bath'].astype(int)
re_df_clean['price'] = re_df_clean['price'].astype(int)
re_df_clean['house_size'] = re_df_clean['house_size'].astype(int)

In [ ]:
re_df_clean.info()

In [ ]:
# Check number of rows with number of bedrooms > 10
re_df_clean[re_df_clean.bed>10]

In [ ]:
# Create a new dataframe with bed size > 10 removed
re_df_cleaned = re_df_clean[re_df_clean['bed'] <= 10]

In [ ]:
# Display some of the rows of the cleaned dataset
re_df_cleaned.head()

In [ ]:
# Check the number of rows and columns of the updated dataframe
re_df_cleaned.shape

In [ ]:
# Check if there are any rows with number of beds > 10
re_df_cleaned[re_df_cleaned.bed>10]

# Feature Engineering

In [ ]:
# Copy dataframe into new dataframe to create an additional column i.e. price_per_sqft
re_df_cleaned2 = re_df_cleaned.copy()
re_df_cleaned2['price_per_sqft'] = (re_df_cleaned['price'] / re_df_cleaned['house_size']).round(2)
re_df_cleaned2.head()

In [ ]:
# Find unique count of cities
len(re_df_cleaned2.city.unique())

In [ ]:
# Clean up city column values by removing leading and trailing spaces
re_df_cleaned2.city = re_df_cleaned2.city.apply(lambda x: x.strip())

# Find and display  the count of rows per city
city_stats = re_df_cleaned2.groupby('city')['city'].agg('count').sort_values(ascending = False)
city_stats

In [ ]:
# Find out count of cities with less than 10 data points
len(city_stats[city_stats<=10])

In [ ]:
# Display cities with less than 10 data points
city_stats_less_than_10 = city_stats[city_stats<=10]
city_stats_less_than_10

In [ ]:
# Replace all the cities with less than 10 data points with "other"
re_df_cleaned2.city = re_df_cleaned2.city.apply(lambda x: 'other' if x in city_stats_less_than_10 else x)
len(re_df_cleaned2.city.unique())

In [ ]:
re_df_cleaned2.head()

# Outlier detection and removal

In [ ]:
# Finding out the data points where total square feet of the house divided by number of bedrooms is less than 300
re_df_cleaned2[(re_df_cleaned2.house_size/re_df_cleaned2.bed)<300].head()

In [ ]:
re_df_cleaned2.shape

In [ ]:
# Remove above outliers
re_df_cleaned3 = re_df_cleaned2[~((re_df_cleaned2.house_size/re_df_cleaned2.bed)<300)]
re_df_cleaned3.shape

In [ ]:
# Remove extremely low and extremely high price per sqft columns
re_df_cleaned3.price_per_sqft.describe()

In [ ]:
# Write function to remove outliers  

def remove_ppsqft_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('city'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

re_df_cleaned4 = remove_ppsqft_outliers(re_df_cleaned3)
re_df_cleaned4.shape

In [ ]:
# Plot a histogram with price per square feet and count of data points
matplotlib.rcParams["figure.figsize"] = (20,10)
plt.hist(re_df_cleaned4.price_per_sqft)
plt.xlabel("Price per square feet")
plt.ylabel("Count")

In [ ]:
# Plot a histogram with number of bathrooms and count of data points
plt.hist(re_df_cleaned4.bath)
plt.xlabel("Number of bathrooms")
plt.ylabel("Count")

In [ ]:
# Finding out data points where number of bathrooms is greater than bedrooms + 2
re_df_cleaned4[re_df_cleaned4.bath>re_df_cleaned4.bed+2]

In [ ]:
# Removing data points where number of bathrooms is greater than bedrooms + 2
re_df_cleaned5 = re_df_cleaned4[~(re_df_cleaned4.bath>re_df_cleaned4.bed+2)]
re_df_cleaned5.shape

In [ ]:
# Drop price_per_sqft,zip_code columns
re_df_cleaned6 = re_df_cleaned5.drop(columns=['price_per_sqft','zip_code'])
re_df_cleaned6.head()

# Build Machine Learning Algorithm

In [ ]:
# Ensure the 'city' column is of string type
re_df_cleaned6['city'] = re_df_cleaned6['city'].astype(str)

In [ ]:
# Create dummy variables for the 'city' column
city_dummies = pd.get_dummies(re_df_cleaned6['city'])

# Ensure the dummy variables are 0 and 1
city_dummies = city_dummies.astype(int)

# Print dummy variables
city_dummies

In [ ]:
# Dropping 'other' column
re_df_cleaned7 = pd.concat([re_df_cleaned6,city_dummies.drop('other',axis='columns')],axis='columns')
re_df_cleaned7.head(3)

In [ ]:
# Dropping city column
re_df_cleaned8 = re_df_cleaned7.drop('city',axis='columns')
re_df_cleaned8.head(2)

In [ ]:
re_df_cleaned8.shape

In [ ]:
# Create x and y axis for the dataset
x = re_df_cleaned8.drop('price',axis='columns')
x.shape

x.head()

In [ ]:
y = re_df_cleaned8.price
y.shape
y.head()

In [ ]:
# Import the train_test_split function from scikit-learn's model_selection module
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets with 80% data used for training and 20% used for testing
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [ ]:
# Import the LinearRegression class from scikit-learn's linear_model module
from sklearn.linear_model import LinearRegression

# Create an instance of the LinearRegression class, which represents the linear regression model
lr_clf = LinearRegression()

# Train the linear regression model using the training data
lr_clf.fit(x_train,y_train)

# Evaluate the model's performance using the testing data and return the coefficient of determination (R^2 score)
lr_clf.score(x_test,y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(),x,y, cv=cv)

In [ ]:
x.columns

In [ ]:
import numpy as np

def predict_price(bed, bath, sqft, city):    
    # Check if city exists in the columns
    if city in x.columns:
        loc_index = np.where(x.columns == city)[0][0]
    else:
        loc_index = -1  # Set to -1 if city is not found
    
    # Create a zero array of the same length as the number of columns in x
    x1 = np.zeros(len(x.columns))
    
    # Assign the input features to the appropriate positions in the array
    x1[0] = bed
    x1[1] = bath
    x1[2] = sqft
    
    # If the city is found, set its position to 1
    if loc_index >= 0:
        x1[loc_index] = 1
    
    # Reshape x1 to a 2D array (1 sample, many features)
    x1 = x1.reshape(1, -1)
    
    # Return the predicted price using the trained model
    return lr_clf.predict(x1)[0]

In [ ]:
# Check whether the model is working
predict_price(3, 2, 2000, 'Wimauma')

# Export the tested model to a pickle file

In [ ]:
import pickle
with open('florida_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

# Export location and column information to a file that will be useful later on in our prediction application

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in x.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))